<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="~/Content/Style.css" rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>Tableau de bord </title>
</head>
<body>

    <script>

        // Initialisation du SDK Javascript de Facebook...
        window.fbAsyncInit = function ()
        {
            FB.init
            ({
                appId: '560195047514718',
                cookie: true,
                xfbml: true,
                version: 'v2.9'
            });
        };
                
        // ‎Chargement asynchrone du SDK‎
        (function (d, s, id)
        {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        /*liste des paramètres de la fonction qui déclenche une boîte de dialogue            
        FB.ui
            ({
                 method: 'feed',
                 //redirect_uri: '',
                 display: popup,
                 // from: '',
                 // to: '',
                 link: 'https://www.facebook.com/facebook',
                 //picture: '',
                 //source: '',
                 // name: '',
                 caption: 'Poster sur Facebook',
                 //description: '',
                 // ref: ''
             }, function (response)
                {

                }
             );*/
            
    </script>

    <div class="container">

        <br /><br />
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-th-large"></span> Tableau de Bord</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
            </ul>
        </nav>


        <br />
        <br />

        <center><font size="20"><b><label>Tableau de bord</label></b></font><br /></center>

        <br />
        <br />
        
        <div id="Facebook">

            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-width="" data-height=""
                data-tabs="timeline, events, messages" data-hide-cover="false" data-show-facepile="true" data-hide-cta="false"
                data-small-header="false" data-adapt-container-width="true"  >
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/facebook">Facebook</a>
                    </blockquote>
            </div>

            <div class="fb-page" data-href="https://www.facebook.com/gameblog" data-width="" data-height=""
                data-tabs="timeline, events, messages" data-hide-cover="false" data-show-facepile="true" data-hide-cta="false"
                data-small-header="false" data-adapt-container-width="true">
                <blockquote cite="https://www.facebook.com/gameblog" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/gameblog">Gameblog</a>
                </blockquote>
            </div>
            <button id="test" onclick="FB.ui({
                                            method: 'feed',
                                            link: 'https://developers.facebook.com/docs/',
                                            caption: 'Documentation pour Facebook pour les développeurs',
                                        }, function(response){});">
                Poster la page des développeurs Facebook
            </button>
        </div>
        
        <br />
        <br />
  
        <footer>
            <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <center><p class="text-center">SocNet - Copyright tous droits réservés - 2017 </p></center>
                </div>

            </div>
        </footer>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>